{% extends "admin/change_list.html"%}
{% load static %}

<!-- Override extrahead to add Chart.js -->
{% block extrahead %}
{{ block.super }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
<script>
document.addEventListener('DOMContentLoaded', () => {
    const ctx = document.getElementById("chart1").getContext('2d');
       my_chart = new Chart(ctx, {
           type: 'bar',
           data: {
               labels: ['Grade A','Grade B', 'Grade C', 'Grade D', 'Grade E'],
               datasets: [{
                   label: 'Credit Grade vs Loan Volume',
                   data:[{{ chart_data.0.grade_a.1 }}, {{ chart_data.0.grade_b.1 }}, 
                        {{ chart_data.0.grade_c.1 }}, {{ chart_data.0.grade_d.1 }}, 
                        {{ chart_data.0.grade_e.1 }}],

                  backgroundColor: [
                      'rgba(255, 99, 132, 0.2)',
                      'rgba(54, 162, 235, 0.2)',
                      'rgba(255, 206, 86, 0.2)',
                      'rgba(75, 192, 192, 0.2)',
                      'rgba(153, 102, 255, 0.2)',

                        ],
                  borderColor: [
                  'rgba(255, 99, 132, 1)',
                      'rgba(54, 162, 235, 1)',
                      'rgba(255, 206, 86, 1)',
                      'rgba(75, 192, 192, 1)',
                      'rgba(153, 102, 255, 1)',


                  ],
                  borderWidth: 1

               }]
           },

           options: {
               scales: {
                    yAxis: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
               }
           }

       })

 
});
</script>
{% endblock %}

{% block content %}
<!-- Render our chart -->
<div style="width: 80%;">
</div> 
<!-- Render the rest of the ChangeList view -->
{{ block.super }}
{% endblock %}